<a href="https://colab.research.google.com/github/Aditya-jr/NLP/blob/main/NLP_sentiment_of_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Dataset= https://www.kaggle.com/datasets/ymanojkumar023/kumarmanoj-bag-of-words-meets-bags-of-popcorn?datasetId=21785&sortBy=voteCount

**Data fields**\
id - Unique ID of each review\
sentiment - Sentiment of the review; 1 for positive reviews and 0 for negative reviews\
review - Text of the review

In [1]:
import pandas as pd
import numpy as np

In [2]:
import nltk

In [3]:
df = pd.read_csv('/content/labeledTrainData.tsv', delimiter='\t')
df

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [4]:
df_new= df.iloc[:8000]

In [5]:
df_new

           id  sentiment                                             review
0      5814_8          1  With all this stuff going down at the moment w...
1      2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2      7759_3          0  The film starts with a manager (Nicholas Bell)...
3      3630_4          0  It must be assumed that those who praised this...
4      9495_8          1  Superbly trashy and wondrously unpretentious 8...
...       ...        ...                                                ...
7995  1171_10          1  I found this episode to be one of funniest I'v...
7996   7220_2          0  Where do they get the money to make films like...
7997  8890_10          1  Well let me go say this because i love history...
7998   8451_4          0  I have to admit that i liked the first half of...
7999   3349_8          1  Man With the Gun is pretty much forgotten now,...

[8000 rows x 3 columns]

In [6]:
df_new.drop(columns='id', inplace=True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [7]:
df_new

      sentiment                                             review
0             1  With all this stuff going down at the moment w...
1             1  \The Classic War of the Worlds\" by Timothy Hi...
2             0  The film starts with a manager (Nicholas Bell)...
3             0  It must be assumed that those who praised this...
4             1  Superbly trashy and wondrously unpretentious 8...
...         ...                                                ...
7995          1  I found this episode to be one of funniest I'v...
7996          0  Where do they get the money to make films like...
7997          1  Well let me go say this because i love history...
7998          0  I have to admit that i liked the first half of...
7999          1  Man With the Gun is pretty much forgotten now,...

[8000 rows x 2 columns]

In [8]:
import re
import nltk
import string
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem.porter import PorterStemmer

In [9]:
nltk.download('punkt')
nltk.download('stopwords')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [10]:
df_new.columns

Index(['sentiment', 'review'], dtype='object')

In [11]:
df_new['review'][0]

"With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ's feeling towards the press and also the obvious message of drugs are bad m'kay.<br /><br />Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.<br /><br />The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci's character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ's music.<br /><br />Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.<br /><br />Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ's bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i've gave this subject....hmmm well i don't know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter."

In [12]:
from bs4 import BeautifulSoup

In [13]:
#Preprocessing data
bs_text=BeautifulSoup(df_new['review'][0])

In [14]:
bs_text.get_text()

"With all this stuff going down at the moment with MJ i've started listening to his music, watching the odd documentary here and there, watched The Wiz and watched Moonwalker again. Maybe i just want to get a certain insight into this guy who i thought was really cool in the eighties just to maybe make up my mind whether he is guilty or innocent. Moonwalker is part biography, part feature film which i remember going to see at the cinema when it was originally released. Some of it has subtle messages about MJ's feeling towards the press and also the obvious message of drugs are bad m'kay.Visually impressive but of course this is all about Michael Jackson so unless you remotely like MJ in anyway then you are going to hate this and find it boring. Some may call MJ an egotist for consenting to the making of this movie BUT MJ and most of his fans would say that he made it for the fans which if true is really nice of him.The actual feature film bit when it finally starts is only on for 20 minutes or so excluding the Smooth Criminal sequence and Joe Pesci is convincing as a psychopathic all powerful drug lord. Why he wants MJ dead so bad is beyond me. Because MJ overheard his plans? Nah, Joe Pesci's character ranted that he wanted people to know it is he who is supplying drugs etc so i dunno, maybe he just hates MJ's music.Lots of cool things in this like MJ turning into a car and a robot and the whole Speed Demon sequence. Also, the director must have had the patience of a saint when it came to filming the kiddy Bad sequence as usually directors hate working with one kid let alone a whole bunch of them performing a complex dance scene.Bottom line, this movie is for people who like MJ on one level or another (which i think is most people). If not, then stay away. It does try and give off a wholesome message and ironically MJ's bestest buddy in this movie is a girl! Michael Jackson is truly one of the most talented people ever to grace this planet but is he guilty? Well, with all the attention i've gave this subject....hmmm well i don't know because people can be different behind closed doors, i know this for a fact. He is either an extremely nice but stupid guy or one of the most sickest liars. I hope he is not the latter."

In [16]:
from nltk.stem import WordNetLemmatizer

In [17]:
stemmer = PorterStemmer()
lemmatizer = WordNetLemmatizer()

In [18]:
# cleaning expressions

In [25]:
import re
reviews=[]
lines = df_new['review'].values.tolist()

for i in range(len(lines)):
    review=re.sub('[^a-zA-Z]', ' ' , lines[i]) # other than a-zA-Z if found replace with space from sentences
    review=review.lower() # all words in lower case
    review = review.split()
    review= [stemmer.stem(word) for word in review if not word in stopwords.words('english')]
    review = ' '.join(review)
    reviews.append(review) # appending in list

In [26]:
reviews[2]

'film start manag nichola bell give welcom investor robert carradin primal park secret project mutat primal anim use fossil dna like jurassik park scientist resurrect one natur fearsom predat sabretooth tiger smilodon scientif ambit turn deadli howev high voltag fenc open creatur escap begin savag stalk prey human visitor tourist scientif meanwhil youngster enter restrict area secur center attack pack larg pre histor anim deadlier bigger addit secur agent staci haiduk mate brian wimmer fight hardli carnivor smilodon sabretooth cours real star star astound terrifyingli though convinc giant anim savag stalk prey group run afoul fight one natur fearsom predat furthermor third sabretooth danger slow stalk victim br br movi deliv good lot blood gore behead hair rais chill full scare sabretooth appear mediocr special effect stori provid excit stir entertain result quit bore giant anim major made comput gener seem total lousi middl perform though player react appropri becom food actor give vigor physic perform dodg beast run bound leap dangl wall pack ridicul final deadli scene small kid realist gori violent attack scene film sabretooth smilodon follow sabretooth jame r hickox vanessa angel david keith john rhi davi much better bc roland emmerich steven strait cliff curti camilla bell motion pictur fill bloodi moment badli direct georg miller origin take mani element previou film miller australian director usual work televis tidal wave journey center earth mani other occasion cinema man snowi river zeu roxann robinson cruso rate averag bottom barrel'

In [27]:
df_new

      sentiment                                             review
0             1  With all this stuff going down at the moment w...
1             1  \The Classic War of the Worlds\" by Timothy Hi...
2             0  The film starts with a manager (Nicholas Bell)...
3             0  It must be assumed that those who praised this...
4             1  Superbly trashy and wondrously unpretentious 8...
...         ...                                                ...
7995          1  I found this episode to be one of funniest I'v...
7996          0  Where do they get the money to make films like...
7997          1  Well let me go say this because i love history...
7998          0  I have to admit that i liked the first half of...
7999          1  Man With the Gun is pretty much forgotten now,...

[8000 rows x 2 columns]

In [ ]:
#Bag of words

In [57]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(min_df=3)
X = cv.fit_transform(reviews).toarray()
y=df_new['sentiment']

In [58]:
type(X)

numpy.ndarray

In [59]:
y=y.to_numpy()

In [61]:
print(X.shape)
print(y.shape)

(8000, 14500)
(8000, 1)

In [60]:
y=y.reshape(-1,1)

In [62]:
type(y)

numpy.ndarray

In [63]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [64]:
# model building

In [65]:
from sklearn.tree import DecisionTreeClassifier
dtc_model= DecisionTreeClassifier(criterion='entropy' , random_state=41)

In [66]:
dtc_model.fit(X_train,y_train)

DecisionTreeClassifier(criterion='entropy', random_state=41)

In [67]:
y_pred = dtc_model.predict(X_test)

In [68]:
from sklearn.metrics import accuracy_score, precision_score

In [69]:
accuracy_score(y_pred , y_test)

0.691875

In [70]:
precision_score(y_test,y_pred)

0.6985815602836879

In [71]:
# saving model
import pickle
model1=pickle.dump(dtc_model ,open('dtc_model_sms','wb'))

In [86]:
# checking prediction
dtc_model.predict(X[[5]])

array([1])

its a positive review

I dont know why people think this is such a bad movie. Its got a pretty **good plot**, some **good action**, and the change of location for Harry does not hurt either. Sure some of its offensive and gratuitous but this is not the only movie like that. Eastwood is in good form as Dirty Harry, and **I liked Pat Hingle in this movie** as the small town cop. If you liked DIRTY HARRY, then you should see this one, its a lot better than THE DEAD POOL.

In [87]:
df_new['review'][5]

'I dont know why people think this is such a bad movie. Its got a pretty good plot, some good action, and the change of location for Harry does not hurt either. Sure some of its offensive and gratuitous but this is not the only movie like that. Eastwood is in good form as Dirty Harry, and I liked Pat Hingle in this movie as the small town cop. If you liked DIRTY HARRY, then you should see this one, its a lot better than THE DEAD POOL. 4/5'

In [85]:
df_new.loc[5]

sentiment                                                    1
review       I dont know why people think this is such a ba...
Name: 5, dtype: object

In [80]:
X[2]

array([0, 0, 0, ..., 0, 0, 0])